html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    width: 80%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(115, 161, 71, 0.993);
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

#scoreKeeper {
    height: 250px;
    align-self: center;
}


#gameRound {
    display: flex;
    justify-content: space-around;
}

#roundResultMsg {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgba(242, 253, 85, 0.842);
}

.roundHands {
    width: 350px;
}

#userHand {
    transform: rotate(45deg);
}

#computerHand {
    transform: scaleX(-1) rotate(45deg);
}

#selectionMenu {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.contentEnclosure {
    width: 100px;
    height: auto;

    padding: 15px;
    margin: 15px;

    background-color: rgba(242, 253, 85, 0.842);
    border-radius: 25%;
    box-shadow: 5px 5px rgb(70, 69, 69);

    cursor: pointer;
}